<div class="container">
    <div class="row">
        <div class="col-sm-12" id="custom-div">
            
                <div>
                    <h4> <i id="user"  class="fa-solid fa-circle-k" style="color: #6301c6;"></i>karim mhir</h4>
                    <p>2Question</p>
                </div>
                <div class="date">
                    <p>30 janvier 2024/ 23:23</p>
                    
                </div>
                
            
        </div>
        <!--<div class="col-sm-12 d-flex justify-content-evenly">
            <div class="Likes">
                <i class="fa-solid fa-thumbs-up"></i><h6>12</h6>
                <i class="fa-solid fa-thumbs-down"></i><h6>4</h6>
                <i class="fa-thin fa-heart"></i><h6>13</h6>
            </div>
        </div>-->
        <div class="col-sm-12 d-flex justify-content-evenly"> 
            
            <div class="Likes"> <i class="fa-solid fa-thumbs-up"></i>
                <h6>12</h6> </div> 
                <div class="Likes"> <i class="fa-solid fa-thumbs-down"></i>
                    <h6>4</h6> </div>
                     <div class="Likes"> <i class="fa-solid fa-heart"></i><h6>13</h6> 
                    </div> </div>
    </div>
</div>