<div class="header">

    <div class="ng-star-inserted">
        <div class="contact row justify-content-center d-sm-flex">
            <div class="col col-12 col-xl-9 justify-content-between p-0 pl-2 px-sm-2">
                <div class="d-lg-flex justify-content-center justify-content-md-start gap-05">
                    <a href="https://www.facebook.com/almourabielearning" target="_blank" class="d-flex">
                        <span class="icon mx-2">
                            <i class="fab fa-facebook-f"></i>
                        </span>
                    </a>
                    <a href="https://www.youtube.com/@Almourabi-Elearning" target="_blank">
                        <span class="icon mx-2">
                            <i class="fa-brands fa-youtube"></i>
                        </span>
                    </a>
                    <a href="https://www.instagram.com/almourabi" target="_blank">
                        <span class="icon mx-2">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                    </a>
                    <a href="https://www.tiktok.com/@almourabi_elearning" target="_blank">
                        <span class="icon mx-2">
                            <i class="fa-brands fa-tiktok"></i>
                        </span>
                    </a>
                    <div class="d-md-none flex-grow-0">
                        <a href="mailto: abc@example.com" class="d-flex ng-star-inserted">
                            <span class="icon mx-2">
                                <img src="/assets/contact.svg" alt="" class="img-email">
                            </span>
                            <span class="d-none d-md-block"> contact@almourabi.com </span>
                        </a><!----><!---->
                    </div>
                    <div class="d-md-none flex-grow-0">
                        <a href="tel:29499500" class="d-flex ng-star-inserted">
                            <span class="icon mx-2">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <span class="d-none d-md-block">22 067 099 - 29 499 500 - 70 146 635</span>
                        </a><!----><!----><!---->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center position-relative">
        <div class="nav-container d-none d-xl-block"></div>
        <div class="col col-12 col-xl-9 max-content px-2 px-sm-3">
            <div class="d-flex justify-content-between align-items-center align-items-lg-stretch">
                <div class="d-flex justify-content-start">
                    <div class="d-flex align-items-center">
                        <div class="d-flex d-xl-none">

                        </div>
                        <a href="/">
                            <div class="d-flex flex-column align-items-center logo-container c-pointer">
                                <img src="/assets/logo.png" alt="" class="almouarbi-logo">
                                <img src="/assets/slogon.png" alt="" class="almouarbi-slogon d-none d-xl-block">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col d-flex flex-column justify-content-evenly p-0">
                    <div class="d-flex justify-content-end ">
                        <div class="auth-btn-container d-flex justify-content-end">
                            <button id="btn-login" class="btn btn-login ng-star-inserted"> Se connecter </button>
                            <button id="btn-signin" class="btn btn-signin ng-star-inserted"> Inscription
                            </button><!----><!---->
                        </div>
                    </div>
                    <div class="d-none d-xl-block" _nghost-ng-c3927433180="">
                        <nav class="d-none d-xl-flex">
                            <ul class="w-100">
                                <li [routerLink]="['/']" [routerLinkActive]="'active'"
                                    [routerLinkActiveOptions]="{exact:true}" class="position-relative" tabindex="0">
                                    <span>Accueil</span>
                                </li>
                                <li class="list d-flex flex-column ng-star-inserted">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span>Primaire <i class="fa-solid fa-chevron-down"></i></span>
                                    </div>
                                    <div>
                                        <ul class="classes d-flex flex-column">
                                            <li tabindex="0">5<sup>ème</sup> année</li>
                                            <li tabindex="0">6<sup>ème</sup> année</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="list d-flex flex-column ng-star-inserted">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span>Collège <i class="fa-solid fa-chevron-down"></i></span>
                                    </div>
                                    <div>
                                        <ul class="classes d-flex flex-column">
                                            <li tabindex="0">7<sup>ème</sup> année</li>
                                            <li tabindex="0">8<sup>ème</sup> année</li>
                                            <li tabindex="0">9<sup>ème</sup> année</li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="list d-flex flex-column ng-star-inserted">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span>Lycée <i class="fa-solid fa-chevron-down"></i></span>
                                    </div>
                                    <div>
                                        <ul class="classes d-flex flex-column">
                                            <li tabindex="0">
                                                <span>1<sup>ère</sup> année</span>
                                            </li>
                                            <li class="position-relative class">
                                                <div class="d-flex justify-content-between">
                                                    <span class="mr-2">2<sup>ème</sup> année</span>
                                                    <span>
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </span>
                                                </div>
                                                <ul class="sections d-flex flex-column">
                                                    <li class="section" tabindex="0"> Sciences expérimentales </li>
                                                </ul>
                                            </li>
                                            <li class="position-relative class">
                                                <div class="d-flex justify-content-between">
                                                    <span class="mr-2">3<sup>ème</sup> année</span>
                                                    <span><i class="fa-solid fa-chevron-right"></i></span>
                                                </div>
                                                <ul class="sections d-flex flex-column">
                                                    <li class="section" tabindex="0"> Mathématiques </li>
                                                    <li class="section" tabindex="0"> Sciences expérimentales </li>
                                                    <li class="section" tabindex="0"> Sciences de l'informatique </li>
                                                    <li class="section" tabindex="0"> Sciences techniques </li>
                                                    <li class="section" tabindex="0"> Economie et Gestion </li>
                                                </ul>
                                            </li>
                                            <li class="position-relative class">
                                                <div class="d-flex justify-content-between">
                                                    <span class="mr-2">Baccalauréat</span>
                                                    <span>
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </span>
                                                </div>
                                                <ul class="sections d-flex flex-column">
                                                    <li class="section" tabindex="0"> Mathématiques </li>
                                                    <li class="section" tabindex="0"> Sciences expérimentales </li>
                                                    <li class="section" tabindex="0"> Sciences de l'informatique </li>
                                                    <li class="section" tabindex="0"> Sciences techniques </li>
                                                    <li class="section" tabindex="0"> Economie et Gestion </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="list d-flex flex-column ng-star-inserted">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span>Concours <i class="fa-solid fa-chevron-down"></i></span>
                                    </div>
                                    <div>
                                        <ul class="classes d-flex flex-column">
                                            <li tabindex="0">
                                                <span>6<sup>ère</sup> année</span>
                                            </li>
                                            <li tabindex="0">
                                                <span>9<sup>ème</sup> année</span>
                                            </li>
                                            <li class="position-relative class">
                                                <div class="d-flex justify-content-between">
                                                    <span class="mr-2">Baccalauréat</span>
                                                    <span>
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </span>
                                                </div>
                                                <ul class="sections d-flex flex-column">
                                                    <li class="section" tabindex="0"> Sciences expérimentales </li>
                                                    <li class="section" tabindex="0"> Sciences techniques </li>
                                                    <li class="section" tabindex="0"> Economie et Gestion </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="dealerFormBtn" class="position-relative ng-star-inserted"> Espace revendeur
                                </li>
                                <li routerLink="/forum" [routerLinkActive]="'active'"
                                    [routerLinkActiveOptions]="{exact:true}">Forum</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <search *ngIf="showSearch"></search>
</div>