.header {
    top: 0;
    position: sticky;
    background-color: white;
}


.contact {
    box-sizing: border-box;
    width: 100%;
    background-color: #efca00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    font-weight: 700;
}

.contact div {
    display: flex;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    min-width: max-content;
}

.contact div {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: max-content;
}

.contact a {
    text-decoration: none;
    color: #000000 !important;
    cursor: pointer;
}

.contact span.icon {
    border-radius: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.contact a i {
    color: #fff;
}

.fa-facebook-f:before {
    content: "\f39e";
}

.contact a {
    text-decoration: none;
    color: var(--black) !important;
    cursor: pointer;
}

.contact span.icon {
    border-radius: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.contact a i {
    color: #fff;
}

.fa-youtube:before {
    content: "\f167";
}

.contact a {
    text-decoration: none;
    color: #000000 !important;
    cursor: pointer;
}

.contact span.icon {
    border-radius: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.contact a i {
    color: #fff;
}

.fa-instagram:before {
    content: "\f16d";
}

.contact a {
    text-decoration: none;
    color: #000000 !important;
    cursor: pointer;
}

.contact span.icon {
    border-radius: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.contact a i {
    color: #fff;
}

.fa-tiktok:before {
    content: "\e07b";
}

.contact div {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: max-content;
}

.contact a {
    text-decoration: none;
    color: #000000 !important;
    cursor: pointer;
}

.contact span.icon {
    border-radius: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.img-email {
    width: 85%;
}

.contact div {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: max-content;
}

.contact a {
    text-decoration: none;
    color: #000000 !important;
    cursor: pointer;
}

.contact span.icon {
    border-radius: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.contact a i {
    color: #fff;
}

.contact div {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: max-content;
}

.contact a {
    text-decoration: none;
    color: #000000 !important;
    cursor: pointer;
}

.contact span.icon {
    border-radius: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.img-email {
    width: 85%;
}

.contact div {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: max-content;
}

.contact a {
    text-decoration: none;
    color: #000000 !important;
    cursor: pointer;
}

.contact span.icon {
    border-radius: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.contact a i {
    color: #fff;
}

.fa-phone:before {
    content: "\f095";
}

*:not(i) {
    font-family: Poppins !important;
}

.gap-05 {
    gap: 0.5rem !important;
}

*:not(i) {
    font-family: Poppins !important;
}

@media (min-width: 768px) {
    .justify-content-md-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.d-md-block {
    display: block !important;
}

.row {
    margin: 0;
}

.position-relative {
    position: relative !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.nav-container {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    height: 0;
    transition: height .75s ease-in-out;
    top: 80%;
    box-shadow: 0 10px 5px -10px;
}

.d-xl-block {
    display: block !important;
}

.px-sm-3 {
    padding-left: 1rem !important;
}

.max-content {
    min-width: max-content !important;
}

.align-items-lg-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.d-xl-none {
    display: none !important;
}

.hamburger {
    font-size: 1.4rem;
}

.c-pointer {
    cursor: pointer !important;
}

.fa-solid,
.fa-thin,
.fa-file .fal,
.far,
.fas,
.fat {
    font-family: "Font Awesome 6 Pro" !important;
}

.fa-solid,
.fass {
    font-weight: 900;
}

.hamburger {
    font-size: 1.4rem;
}

a {
    text-decoration: none !important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

* {
    box-sizing: border-box;
}

.logo-container {
    z-index: 9;
}

.c-pointer {
    cursor: pointer !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

img.almouarbi-logo {
    width: 125px;
    filter: drop-shadow(0 0 3px #00887e);
}

img {
    vertical-align: middle;
    border-style: none;
}

.almouarbi-slogon {
    width: 170px;
}

.justify-content-evenly {
    justify-content: space-evenly !important;
}

.p-0 {
    padding: 0 !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.auth-btn-container {
    gap: 0.5rem;
    flex: 0 1 35%;
    min-width: max-content;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.btn-login {
    background-color: #00887e !important;
    color: #ffffff !important;
    border: 2px solid #00887e !important;
}

.btn {
    padding: 0.075rem clamp(0rem, 3vw, 1rem);
    outline: none;
    height: -moz-fit-content;
    height: fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    font-weight: 700;
}

.btn-signin {
    background-color: #ffffff !important;
    color: #00887e !important;
    border: 2px solid #00887e !important;
}

.btn {
    padding: 0.075rem clamp(0rem, 3vw, 1rem);
    outline: none;
    height: -moz-fit-content;
    height: fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    font-weight: 700;
}

.d-xl-block {
    display: block !important;
}

nav {
    position: relative;
    top: 0;
    z-index: 3;
    padding: 0.2rem 0rem;
    width: 90%;
}

.d-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

nav>ul {
    display: flex;
    margin: 0;
    min-width: max-content;
    gap: clamp(0.25rem, 10vw, 0.5rem);
    justify-content: center;
}

ul {
    list-style: none;
}

.w-100 {
    width: 100% !important;
}

a {
    color: #000;
}

a {
    text-decoration: none !important;
}

nav li.active {
    background-color: #ea750b;
    color: #ffffff;
    transition: 1s;
}

nav li {
    cursor: pointer;
    font-weight: 700;
    padding: 0.25rem clamp(5px, 5vw, 0.75rem);
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.active {
    background-color: #ea750b !important;
    color: #ffffff !important;
}

nav .list {
    position: relative;
}

nav li {
    cursor: pointer;
    font-weight: 700;
    padding: 0.25rem clamp(5px, 5vw, 0.75rem);
    min-width: -moz-fit-content;
    min-width: fit-content;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.fa-solid,
.fa-thin,
.fa-file .fal,
.far,
.fas,
.fat {
    font-family: "Font Awesome 6 Pro" !important;
}

.fa-solid,
.fass {
    font-weight: 900;
}

nav .classes {
    position: absolute;
    width: max-content;
    top: 35px;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: height .75s ease-in-out;
}

ul {
    list-style: none;
}

nav li {
    cursor: pointer;
    font-weight: 700;
    padding: 0.25rem clamp(5px, 5vw, 0.75rem);
    min-width: -moz-fit-content;
    min-width: fit-content;
}

nav .list {
    position: relative;
}

.fa-solid,
.fa-thin,
.fa-file .fal,
.far,
.fas,
.fat {
    font-family: "Font Awesome 6 Pro" !important;
}

nav .list {
    position: relative;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem !important;
}

nav li {
    cursor: pointer;
    font-weight: 700;
    padding: 0.25rem clamp(5px, 5vw, 0.75rem);
    min-width: -moz-fit-content;
    min-width: fit-content;
}

nav .sections {
    width: max-content;
    overflow: hidden;
    height: 0;
}

nav .list {
    position: relative;
}

nav .classes {
    position: absolute;
    width: max-content;
    top: 35px;
    left: 0;
    height: 0;
    overflow: hidden;
    transition: height .75s ease-in-out;
}

ul {
    list-style: none;
}

nav .sections {
    width: max-content;
    overflow: hidden;
    height: 0;
}

ul.sections {
    position: absolute;
    top: 0;
    left: 100%;
}

ul {
    list-style: none;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}