<header>

<div class="contact-bar">
    <div class="container" >
        <div class="row" >
            <div id="block" class=" col col-md-6 col-lg-4 ">

   
                <div class="lien">
                <a href="https://www.facebook.com/almourabielearning"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.youtube.com/@Almourabi-Elearning"> <i class="fa-brands fa-youtube"></i></a>
                <a href="https://www.instagram.com/almourabi"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@almourabi_elearning"><i class="fa-brands fa-tiktok"></i></a>
            
                </div>                                                                
            </div>
            <div id="block" class=" col col-md-6 col-lg-3">
        <div class="contact-info">
            <i class="fa-duotone fa-messages fa-flip-horizontal"></i><span class="text-xs">contact@almourabi.com</span></div>
        </div>
            <div id="block" class=" col col-lg-5">
            <div class="contact-tlf"><i class="fa-solid fa-circle-phone-flip fa-flip-horizontal"></i> 
                <span class="text-xs">22 067 099 - 29 499 500 - 70 146 635</span></div>  
      
        </div>
      </div>            

    </div>   </div>     



</header>