<header>

<div class="contact-bar">
    <div class="container" >
        <div class="row">
            <div id="block" class="col-md-4">

   
                <div class="lien">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-tiktok"></i>
            
                </div>
            </div>
            <div id="block" class="col-md-2">
        <div class="contact-info">
            <i class="fa-duotone fa-messages fa-flip-horizontal"></i><span class="text">contact@almourabi.com</span></div>
        </div>
            <div id="block" class="col-md-6">
            <div class="contact-tlf"><i class="fa-solid fa-circle-phone-flip fa-flip-horizontal"></i> 
                <span class="text">22 067 099 - 29 499 500 - 70 146 635</span></div>  
      
        </div>
      </div>            

    </div>   </div>     



</header>