<div class="container">
  <div class="table">
    <div class="header">
      <div class="header-cell">
        <p><i class="fa-sharp fa-solid fa-circle-m fa-2xl" style="color: #00887e;"></i> Maissa Hrigua</p>
        <p class="time"><i class="fa-light fa-clock"></i> 01 février 2024</p>
      </div>
    </div>

    <div class="table-row">
      <div class="table-cell">Question 1</div>
      <div><p-tag severity="success" value="Math"></p-tag></div>
    </div>

    <div class="separator"></div>

    <div class="table-row">
      <div class="table-cell">Body 2</div>
      <div class="table-cell"><i class="fa-light fa-thumbs-up"></i> 1 <i class="fa-light fa-thumbs-down"></i> 0 <i
          class="fa-thin fa-heart"></i> 0</div>
    </div>
  </div>
</div>