.row {
    box-sizing: border-box;
    width: 100%;
    background-color: #00887e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
    font-weight: 700;
}

.p-inputgroup {
    display: flex;
    align-items: stretch;
    width: 100%;
}
.p-inputgroup button:last-child, .p-inputgroup input:last-child, .p-inputgroup>.p-inputwrapper:last-child>.p-component, .p-inputgroup>.p-inputwrapper:last-child>.p-component>.p-inputtext {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.btn-search {
    background-color: #00887e !important;
    border: 2px solid #ffffff !important;
    border-left: none!important;
}
.p-button {
color: #fff;
}
.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
  
  .header {
    display: table-row;
    background-color: #fff;
  }
  
  .header-cell,
  .table-cell {
    display: table-cell;
    padding: 8px;
    border: none;
  }
  
  .separator {
    border-bottom: 1px solid #ddd;
    margin: 8px 0;
  }
  