#navig {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px groove;
    align-items: stretch;
  }
  
  .logo-slogan {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .logo {
    border-radius: 45%;
    width: 130px;
    height: auto;
    margin-right: 20px;
  }
  
  .almouarbi-slogon {
    width: 170px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-buttons {
    
    display: flex;
    align-items: center;
    gap: 5px;
    //margin-left: auto;
    //margin-top: 5px;
  }
  
  .connexion-button {
    //margin-top: 5px;
    padding: 5px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #00887e;
    color: white;
    border: 2px solid #00887e;
    //margin-right: 10px;
  }
  
  .connexion-button:hover {
    background-color: #ea750b;
    color: white;
    border: 2px solid #ea750b;
  }
  
  .connexion {
    display: inline;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    color: #00887e;
    border: 2px solid #00887e;
    display: flex;
    align-items: center;
    justify-content: center;
   // margin-top: 5px;
  }
  
  .connexion:hover {
    background-color: #ea750b;
    color: white;
    border: 2px solid #ea750b;
  }
  
  .nav-bar {
    justify-content: center;
    display: flex;
    align-items: center;
    //margin-left: auto;
    //margin-top: auto;
    //margin-right: auto;
  }
  
  .but {
    margin-right: 20px;
    border: none;
    background-color: white;
    font-weight: bold;
    font-size: 16px;

  }
  .but:hover{
    background-color: #ea750b;
    color: white;
  }
  .but1{
    background-color: #ea750b;
    margin-right: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    
  }
  /*li{
    background-color: #00887e;
  }*/
  li:hover{
    background-color:#ea750b;
  }
  .bt {
    padding-top: 2px;
    padding-right: 10%;
    padding-left: 5%;
  }
  
  .bar {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    font-size: 18px;
    margin-top: 10px;
  }
  /*.container {
    display: flex;
    flex-wrap: wrap;
  }*/
  
  .item {
    margin-bottom: 20px;
  }