<div id="navig" class="container" >
    <div class="logo-slogan" >
      <img src="https://almourabi.com/assets/logo.png" alt="Logo de votre site" class="logo">
      <img _ngcontent-ng-c2838530286="" src="https://almourabi.com/assets/slogon.png" alt="" class="almouarbi-slogon ">
    </div>
    <div class="nav-buttons"  >
      <button class="connexion-button">se connecter</button>
      <button class="connexion">inscription</button>
    </div>
    <div class="nav-bar" >
      <button class="but1">accueil</button>
      <div class="dropdown">
        <button class="but"  data-toggle="dropdown">primaire<span class="caret"></span></button>
         <ul class="dropdown-menu">
            <li><a href="#"><button class="but">5éme année</button></a></li>
            <li class="divider"></li>
            <li><a href><button class="but">6éme année</button></a></li>
    
         </ul>
    
    </div>
    <div class="dropdown">
        <button class="but"  data-toggle="dropdown">collége<span class="caret"></span></button>
         <ul class="dropdown-menu">
            <li><a href="#"><button class="but">7éme année</button></a></li>
            <li class="divider"></li>
            <li><a href><button class="but">8éme année</button></a></li>
            <li class="divider"></li>
            <li><a href><button class="but"></button></a></li>
    
         </ul>
    
    </div>
    <div class="dropdown">
        <button class="but"  data-toggle="dropdown">lycée<span class="caret"></span></button>
         <ul class="dropdown-menu">
            <li><a href="#"><button class="but">1ere annee</button></a></li>
            <li class="divider"></li>
            <li><a href><button class="but">2éme anné</button></a></li>
            <li class="divider"></li>
            <li><a href><button class="but">3eme anne</button></a></li>
            <li class="divider"></li>
            <li ><a href><button class="but" data-toggle="dropright">bac <span class="caret"></span></button> </a>
                <ul class="dropdown-menu">
                    <li>moi</li>
                </ul>
            
            </li>
    
         </ul>
    
    </div><div class="dropdown">
      <button class="but" data-toggle="dropdown">concours<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#"><button class="but">6eme</button></a></li>
        <li class="divider"></li>
        <li><a href><button class="but">9eme</button></a></li>
        <li class="divider"></li>
        <li><a href><button class="but">bac</button></a></li></ul>
    </div>

      <button class="but">espace revendeur</button>

    </div>
  </div>

