<div class="table-container">
  <div class="table">
    <div class="table-row header">
      <div class="table-cell">Sujet</div>
      <div class="table-cell">Matière</div>
      <div class="table-cell"><i class="fa-thin fa-heart"></i>J'adore</div>
      <div class="table-cell"><i class="fa-light fa-comment"></i> Réponses</div>
      <div class="table-cell"><i class="fa-regular fa-eye"></i> Vue</div>
      <div class="table-cell"><i class="fa-light fa-clock"></i> Activité</div>
      <div class="table-cell">
        <i class="fa-light fa-circle-check"></i> Résolue
      </div>
    </div>

    <div
      *ngFor="let topic of topics"
      class="table-row"
      [routerLink]="'/forum/topic/' + topic.id"
    >
      <div class="table-cell">
        <i
          class="fa-sharp fa-solid fa-circle-l fa-2xl"
          style="color: #00887e"
        ></i>
        <a> {{ topic.title }}</a>
      </div>
      <div class="table-cell">
        <p-tag
          [style]="{ 'background-color': stringToHexColor(topic.subject) }"
          [value]="topic.subject"
        ></p-tag>
      </div>
      <div class="table-cell">{{ topic.likes }}</div>
      <div class="table-cell">{{ topic.replies }}</div>
      <div class="table-cell">{{ topic.views }}</div>
      <div class="table-cell">{{ topic.activity }}</div>
      <div class="table-cell" *ngIf="topic.status == topicStatus.CLOSED">
        <i class="fa-solid fa-circle-xmark" style="color: #e52a2a"></i>
      </div>
      <div class="table-cell" *ngIf="topic.status == topicStatus.OPEN">
        <i class="fa-solid fa-circle-check" style="color: #2eb801"></i>
      </div>
    </div>
  </div>
</div>
