
<div    class="container-fluid" >
    <a routerLink="/chercher"></a>
<router-outlet></router-outlet>
<div class="forum">
    <div class="row">
        <div id="block"  class="col-sm-12">
            <div id="block" class="col-sm-5">
                <h2>sujet</h2>                
            </div>   
            <div id="block" class="col-sm-2">
                <h2>matiére</h2>                
            </div>     
           
        <div id="block" class="col-sm-1">
            <i class="fa-solid fa-heart fa-bounce"></i>
           
        </div>  
        <div id="block" class="col-sm-1">
            <i class="fa-solid fa-envelope fa-bounce"></i>
               
        </div>  
        <div id="block" class="col-sm-1">
            <i class="fa-solid fa-check fa-bounce"></i>              
        </div>  
        <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-timer fa-bounce"></i>               
        </div>
        <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #fc031c;"></i>
       
        </div>  
          
       
    </div>
    <div id="block"  class="col-sm-12">
        <div id="block" class="col-sm-5">
            <i class="fa-solid fa-user-plus"></i>    
                    
        </div>   
        <div id="block" class="col-sm-2">
           <span class="matiére"> Français  </span>        
        </div>     
        
        <div id="block" class="col-sm-1">
            <h2>25</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>17</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>145</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>2 days</h2>                
        </div>  
         <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #fc031c;"></i>
             
        </div>  
       
</div>
<div id="block"  class="col-sm-12">
    <div id="block" class="col-sm-5">
        <i class="fa-solid fa-user-plus"></i>              
    </div>   
    <div id="block" class="col-sm-2">
        <span class="matiére"> Français  </span>            
    </div>     
    
        <div id="block" class="col-sm-1">
            <h2>14</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>200</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>40</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>5 days</h2>                
        </div>  
         <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #fc031c;"></i>
              
        </div>  
    
</div>
        </div>
    </div></div>
    