#block{
  padding: 20px;
//border-bottom: 1px solid rgb(183, 225, 198); 

//background-color: #8bc1e4; 
//max-width: 600px; 
//margin: 50px auto; 
box-shadow: 0 0 20px rgba(0, 0.2, 0.2, 0.1);
font-size: 0.5cm;
}
.forum{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
padding-top: 10px;
  padding-left: 50px;
}
#block:hover{
 
color: #ea750b;
background-color: #c9ece9; 

}
.matiére{
font-size:0.5cm;
//color:#00887e;
//background-color:  #00887e;
font-weight: bold;
border-radius: 25%;
}
