
<div    class="container-fluid" >
    <a routerLink="/chercher"></a>
<router-outlet></router-outlet>
<div class="forum">
    <div class="row">
        <div id="block"  class="col-sm-12">
            <div id="block" class="col-sm-5">
                <h2>sujet</h2>                
            </div>   
            <div id="block" class="col-sm-2">
                <h2>matiére</h2>                
            </div>     
           
        <div id="block" class="col-sm-1">
            <i class="fa-solid fa-heart fa-bounce"></i>
           <span>Likes</span>
        </div>  
        <div id="block" class="col-sm-1">
            <i class="fa-solid fa-envelope fa-bounce"></i>Replies
               
        </div>  
        <div id="block" class="col-sm-1">
            <i class="fa-solid fa-eye fa-bounce"></i><span>Views  </span>           
        </div>  
        <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-timer fa-bounce"></i> <span>Activity  </span>            
        </div>
        <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #fc031c;"></i>
       
        </div>  
          
       
    </div>
    <div id="block"  class="col-sm-12">
        <div id="block" class="col-sm-5">
           
            <i id="user"  class="fa-solid fa-circle-k" style="color: #6301c6;"></i>   
            <p > <a routerLink="/titre1" >title 1</a><router-outlet></router-outlet>
                <i class="fa-solid fa-folder"></i><br><div class="but">
            <button>videohive</button><button>photodune</button></div>
            
            </p>
        </div>   
        <div id="block" class="col-sm-2">
            <p-button label="Français" [rounded]="true" ></p-button>   
        </div>     
        
        <div id="block" class="col-sm-1">
            <h2>25</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>17</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>145K</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>2 days</h2>                
        </div>  
         <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #fc031c;"></i>
             
        </div>  
       
</div>
<div id="block"  class="col-sm-12">
    <div id="block" class="col-sm-5">
        <i id="user" class="fa-solid fa-circle-d" style="color: #74C0FC;"></i>  
        <p>title 2<i class="fa-solid fa-folder"></i><br><div class="but">
            <button>videohive</button><button>photodune</button></div>
            
            </p>       
    </div>   
    <div id="block" class="col-sm-2">
        <p-button label="Anglais." [raised]="true" severity="success"></p-button>           
    </div>     
    
        <div id="block" class="col-sm-1">
            <h2>14</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>200</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>40K</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>5 days</h2>                
        </div>  
         <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #fc031c;"></i>
              
        </div>  
    
</div>
<div id="block"  class="col-sm-12">
    <div id="block" class="col-sm-5">
        <i id="user"  class="fa-solid fa-circle-l" style="color: #425f16;"></i>
        <p>title 3<i class="fa-solid fa-folder"></i><br><div class="but">
            <button>videohive</button><button>photodune</button></div>
            
            </p>              
    </div>   
    <div id="block" class="col-sm-2">
        <p-button label="physique" severity="info"></p-button>            
    </div>     
    
        <div id="block" class="col-sm-1">
            <h2>14</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>200</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>40K</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>5 days</h2>                
        </div>  
         <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #fc031c;"></i>
              
        </div>  
    
</div>
<div id="block"  class="col-sm-12">
    <div id="block" class="col-sm-5">
        <i id="user" class="fa-solid fa-circle-c" style="color: #B197FC;"></i>       
        <p>title 4<i class="fa-solid fa-folder"></i><br><div class="but">
            <button>videohive</button><button>photodune</button></div>
            
            </p>      
    </div>   
    <div id="block" class="col-sm-2">
        <p-button label="Espagnol" severity="help"></p-button>            
    </div>     
    
        <div id="block" class="col-sm-1">
            <h2>14</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>200</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>40K</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>5 days</h2>                
        </div>  
         <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #fc031c;"></i>
              
        </div>  
    
</div>
<div id="block"  class="col-sm-12">
    <div id="block" class="col-sm-5">
        <i id="user" class="fa-solid fa-circle-n" style="color: #FFD43B;"></i>
        <p>title 5<i class="fa-solid fa-folder"></i><br><div class="but">
            <button>videohive</button><button>photodune</button></div>
            
            </p>
    </div>   
    <div id="block" class="col-sm-2">
        <p-button label="Musique" severity="danger"></p-button>            
    </div>     
    
        <div id="block" class="col-sm-1">
            <h2>14</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>200</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>40K</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>5 days</h2>                
        </div>  
         <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #fc031c;"></i>
              
        </div>  
    
</div>
<div id="block"  class="col-sm-12">
    <div id="block" class="col-sm-5">
        <i id="user" class="fa-solid fa-circle-h" style="color: #c5d7f7;"></i>   
        <p>title 6<i class="fa-solid fa-folder"></i><br><div class="but">
            <button>videohive</button><button>photodune</button></div>
            
            </p>         
    </div>   
    <div id="block" class="col-sm-2">
        <p-button label="Géométrie" severity="secondary"></p-button>           
    </div>     
    
        <div id="block" class="col-sm-1">
            <h2>14</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>200</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>40</h2>                
        </div>  
        <div id="block" class="col-sm-1">
            <h2>5 days</h2>                
        </div>  
         <div id="block" class="col-sm-1">
            <i class="fa-sharp fa-solid fa-circle-xmark" style="color: #fc031c;"></i>
              
        </div>  
    
</div>
        </div>
    </div></div>
    