
<div class="bg-green py-1">
    <div  class="row justify-content-center">
        <div  class="row col col-xl-9 justify-content-between text-white">
            <div  class="col col-12 col-lg-auto d-flex align-items-center justify-content-between justify-content-xl-start p-0 gap-1">
            </div>
            <div  class="col col-12 col-lg-4 p-inputgroup p-0 py-1">
                <input  type="text" pinputtext="" placeholder="Recherche par Sujet ou par Matière" class="p-inputtext p-component p-element p-1 ng-untouched ng-pristine ng-valid">
                <button  pbutton="" type="button" icon="fas fa-search" ng-reflect-icon="fas fa-search" class="btn-hover p-element btn btn-search p-button p-component p-button-icon-only p-1">
                    <span  aria-hidden="true" class="p-button-icon fas fa-search"></span>
                </button>
            </div>
        </div>
    </div>
</div>